@model CertificationList.Models.TodoList

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit the Certificate</h1>

<hr />
<div class="row mt-5">
    <div class="col-md-4 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label lead mb-3">Certification Name</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div class="text-center">
    <a asp-action="List" class="text-decoration-none btn-sm btn-outline-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
