@*@model IEnumerable<ToDoList.Models.TodoList>*@

@{
    ViewData["Title"] = "Index";
}
<div style="background-image: url('background.jpg'); background-size:cover; width:100%; height:100vh;">
    <div class="text-center pt-5">
        <p class="display-5 text-white">
            Welcome to the Cerifications Portal
        </p>
        <hr />
        <br />
        <p>
            <a class="btn-info btn-lg p-2 text-decoration-none text-white text-sm-center" asp-action="List">Manage your Certifications</a>
        </p>
    </div>
</div>
